!!! 5

%head
  %title えおかふぇ in Day - FFXIV EORZEA Cafe - 

  %meta{ content:"width=device-width; initial-scale=1", name:"viewport" }
  %link{ rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" }
  %link{ rel:"stylesheet", href:"stylesheets/index.css" }

  :css
    body {
      background-image: url( "images/background.jpg" );
      background-attachment: fixed;
    }
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68563299-1', 'auto');
    ga('send', 'pageview');

%body
  .navbar-fixed
    %nav.black{ style: "opacity:0.4;" }
      .nav-wrapper
        .center
          %h4 えおかふぇ in Day
  .container.center
    .card-panel.white-text{ style:"background-color: rgba( 0,0,0, 0.6 );" }
      今日と明日のエオルゼアカフェの空席情報を確認できます
      %br
      非公式ですので確実な物ではないですが承知の上ご利用ください！
      %br
      %a.twitter-share-button{ href:"https://twitter.com/share", data:{ url:"http://bit.ly/ecaf_indy" } } Tweet
      %p
        チケット情報のアプリについても鋭意制作中です！乞うご期待！
      
    .card-panel.today-card{ style:"background-color: rgba( 0,0,0, 0.6 );" }
      %h5.white-text
        今日のえおかふぇ
        %span.today-date
          xx/xx
      - { first:"11:30", second:"14:00", third:"16:30", fourth:"19:00" }.each do |key, date|
        .row{ class: key }
          %span.white-text
            #{date}
          .divider
          - [ "one-person", "two-person", "four-person" ].each_with_index do |_class, key|
            .col.s12.m12.l4
              .card-panel.today-ng{ class: _class }
                %h5= "○"*(2**key) + " #{2**key}人"
                %h2 NG!!
    .row
      :plain
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-1867680685770734"
        data-ad-slot="6687013081"
        data-ad-format="auto"></ins>

    .card-panel.tomorrow-card{ style:"background-color: rgba( 0,0,0, 0.6 );" }
      %h5.white-text
        明日のえおかふぇ
        %span.tomorrow-date
          xx/xx
      - { first:"11:30", second:"14:00", third:"16:30", fourth:"19:00" }.each do |key, date|
        .row{ class: key }
          %span.white-text
            #{date}
          .divider
          - [ "one-person", "two-person", "four-person" ].each_with_index do |_class, key|
            .col.s12.m12.l4
              .card-panel.today-ng{ class: _class }
                %h5= "○"*(2**key) + " #{2**key}人"
                %h2 NG!!

%footer.white-text{ style: "background-color: rgba( 0,0,0,0.6 );"}
  .footer-copyright
    .copyright
      .container
        .center
          kogarasi all rights reserverd.
          %a.white-text{ href:"https://twitter.com/kogarasi_cross" }
            @kogarasi_cross

%script{ src:"https://code.jquery.com/jquery-2.1.4.min.js" }
%script{ src:"https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js" }
%script{ src:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js" }
%script{ src:"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" }
%script{ src:"javascripts/index.js" }

:javascript
  (adsbygoogle = window.adsbygoogle || []).push({});

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
